<header>
    <div class="row bg">
        <div class="headLeft"><!-- <img src="../index/img/logo.png" alt="coServ"> --><h2>myBlog</h2></div>
        <div class="headRight">
        	<span class="home"><a href="http://192.168.1.5:7070/index.html"><i class="icon-home"></i></a></span>
        	<!-- 下拉式選單 -->
        	<div class='selectBox'>
			    <span class='selected'><a href="#">style</a></span>
			    <span class="selectArrow">
			  	  <i class="icon-chevron-down" style="margin-top:5px"></i>
			    </span>
			    <div class="selectOptions">
			  	   <span class="selectOption" value="style1">style 1</span>
			  	   <span class="selectOption" value="style2">style 2</span>	  	   
			    </div>
			</div>
        </div>
    </div>	   
</header>