/*header*/
header{
	width: 840px !important;
	margin: 0;
	padding: 0;
  font-family: "微軟正黑體","Adobe 黑体 Std R", "Adobe 繁黑體 Std B",  Arial, sans-serif; 
}
.row {
	width: 100%;
  padding:0;
	margin: 0 !important;
}
.bg{
	background: #3a3a3a;
  height: 83px;
}
img {
	border: 0;
}
* a,
a:hover {
	text-decoration: none;
}
.clear {
	clear: left;
}
.float{
	float: left;
}
.headLeft {
  float: left;
  width: 250px;
  padding: 0 0 12px 50px;
  color: #fff;
}
.headRight {
	float: right;
	margin-right: 40px;
	width: 490px;
}

.home {
  padding: 5px;
  margin-top: 25px;
  margin-left: 290px;
  display: inline-block;
  text-align: right;
 }
 .home a{
  color: #FFF;
  font-size: 1em;
  line-height: 1.6em;
 }
 .home a:hover {
  color:#eee;
  text-decoration: none;
 }
 .home a i{
 	font-size: 1.7em;
 }

/*語系下拉選單*/
/*  margin: 10px 0 0 5px;
  font-family: "微軟正黑體","Adobe 黑体 Std R", "Adobe 繁黑體 Std B",  Arial, sans-serif;
  font-size: 0.9em;
  line-height: 1.5em;
  color:#3a3a3a;
  width:130px;
  height:28px;
}*/
ul li {
  list-style-type: none;
}
.select {
  margin: 0;
  display: inline-block;
  font-family: "微軟正黑體","Adobe 黑体 Std R", "Adobe 繁黑體 Std B",  Arial, sans-serif;  
}
.select ul li{
	margin-top: 0;
}
.select ul li a {
   outline: none;
}
/*
  margin-left: 5px;
  font-family: "微軟正黑體","Adobe 黑体 Std R", "Adobe 繁黑體 Std B",  Arial, sans-serif;
  font-size: 1em;
  line-height: 1em;
  color: #3a3a3a;
  width:130px;
  height:30px;
  cursor: pointer;
  border-radius: 4px;
}
#hidden {	
	width: 130px;
	margin: 0;
	padding: 0;
	line-height: 2em;	
	background: #FFF;
	text-indent: 0.5em;
	border: #ddd 1px solid;
}
#hidden a {
	color:#3a3a3a;
	display: block;
}
#hidden a:hover {
	color:#222222;
	background: #efefef;
	display: block;
}
*/