<div class="sidebar">
	<div class="panel-group" id="sidebar">

	    <div class="panel panel-green">
	      <div class="panel-heading">
	        <h5 class="panel-title">
	          <!-- <a data-toggle="collapse" data-parent="#sidebar" href="#menu1"> -->
	            <%= ph.list %>
	          <!-- </a> -->
	        </h5>
	      </div>
	      <div id="menu1" class="panel-collapse collapse in">
	        <div class="panel-body">

		        <% for (var i in value.list) {
					var  item = value.list[i],
						createTime = item.createTime,
						idx = createTime.indexOf('T');
					createTime = createTime.substring(0, idx);
				%>
				<p>
					<a href="/blog2/view/<%=item.ngID%>?_loc=<%=bi.locale%>"><%= item.title%></a>
					<span><%=createTime%></span>
				</p>
				<% } %>

				<p class="right">
					<a href="/blog2/list?_loc=<%=bi.locale%>">more&nbsp;<i class="icon-double-angle-right"></i></a>
				</p>
	        </div>
	      </div>
	    </div>

	</div>
</div>
