<div class="myPageList">
    <% if (errCode === 0) { %>
    <table class="table table-striped">
        <thead>
            <tr>
                <th><%=ph.title%></th>
                <th><%=ph.summary%></th>
                <th>Actions</th>
            </tr>
        </thead>
        <% value.list.forEach(function(item) { %>
        <tr>
            <td><%= item.title %></td>
            <td><%= item.summary %></td>
            <td>
                <button class="btn btn-default btn-sm" onclick="<%=ctrl%>.viewPage('<%=item.ngID%>');"><%=ph.view%></button>
                <button class="btn btn-default btn-sm"  data-toggle="modal" data-target="#editorModal" onclick="<%=ctrl%>.editPage('<%=item.ngID%>', '<%=bi.service%>');"><%=ph.edit%></button>
            </td>
        </tr>
        <% }); %>
    </table>
    <% } else  { %>
        <div>Error code: <%=errCode%>, messages: <%=message%></div>
    <% } %>

</div>
<!-- 編輯器開始 -->
<div class="modal fade modalstyle" id="editorModal" data-backdrop="static" role="dialog" aria-labelledby="editorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="editor modal-content" locale="<%=bi.locale%>">
            <button type="button" class="close alpha80" data-dismiss="modal" aria-hidden="true" style="margin: 20px 20px 0 0">&times;</button>
            ....
        </div>
    </div>
</div>
<!-- 編輯器結束 -->