/* Add css rules here that are valid for the whole page */
#pgContainer {
	margin: 0px auto;
	width: 960px;
}

#pgLeft {
	float: left;
	width: 240px;
}

#pgContent {
	margin-left: 250px;
	min-height: 300px;
}

#pgFooter {
	clear: both;
}
