/* Add css rules here that are valid for the whole page */
#pgBody {
	margin: 0px 20px;
	display: flex;
}

#pgLeft {
	flex-basis: 250px;
	flex-shrink: 0;
}

#pgContent {
	margin-left: 10px;
	flex-grow: 1;
}