/*-----------footer-----------*/
footer {
  width: 840px;
  height: 80px;
  font-size: 1em;
  /*background: #EFEFEF;*/
  text-align: center;
  color: #FFF;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 3px #2EA0D1 solid;
}
footer p{
  color: #2EA0D1;
}