<div class="view">	
	<div class="type">
		<h1 class="title"><%= ph.title %></h1>
		<h2 class="tagline"><%= ph.tagline %></h2>
	</div>
	<div class="sub">
		<span class="strTime"><%= ph.strTime %></span>
		<span class="dspName"><%= ph.dspName %></span>
	</div>
	<section>
    	<p class="subtitle"><h3><%= ph.subtitle1 %></h3></p>

		<p><%= ph.section1 %></p>

		<pre><code><%= ph.code1 %></code></pre>

		<p><%= ph.section2 %></p>

		<pre><code><%= ph.code2 %></code></pre>

		<p><%= ph.section3 %></p>

		<p class="subtitle"><h3><%= ph.subtitle2 %><h3></p>		

		<p><%= ph.section4 %></p>

		<pre><code><%= ph.code3 %></code></pre>				

		<p><%= ph.section5 %></p>

		<p class="subtitle"><h3><%= ph.subtitle3 %><h3></p>

		<p><%= ph.section6 %></p>

		<pre><code><%= ph.code4 %></code></pre>

		<p><%= ph.section7 %></p>

		<p class="subtitle"><h3><%= ph.subtitle4 %></h3></p>

		<p><%= ph.section8 %></p>

		<p class="subtitle"><h3><%= ph.subtitle5 %></h3></p>	
	
		<ul>
		    <li><a href="./structure.html"><%= ph.list1 %></a></li>
		    <li><a href="./layout.html"><%= ph.list2 %></a></li>
		</ul>

	</section>

	<div class="row_down">
		<div class="column">
			<a type="button" class="pull-left" href="#"><i class="icon-angle-left"></i>&nbsp; PREV PAGE</a>
			<a type="button" class="pull-right" href="#">NEXT PAGE &nbsp;<i class="icon-angle-right"></i></a>			
	    </div>	    
	</div>		
</div>