<div class="view">	
	<div class="type">
		<h1 class="title"><%= ph.title %></h1>
		<h2 class="tagline"><%= ph.tagline %></h2>
	</div>
	<div class="sub">
		<span class="strTime"><%= ph.strTime %></span>
		<span class="dspName"><%= ph.dspName %></span>
	</div>
	<section>
    	<p class="subtitle"><h3><%= ph.subtitle1 %></h3></p>

		<p><%= ph.section1 %></p>

		<p class="subtitle"><h3><%= ph.subtitle2 %></h3></p>

		<p><%= ph.section2 %></p>

		<pre><code><%= ph.code1 %></code></pre>

		<p><%= ph.section3 %></p>		

		<p><%= ph.section4 %></p>		

		<p><%= ph.section5 %></p>


		<p class="subtitle"><h3><%= ph.subtitle3 %></h3></p>

		<p><%= ph.section6 %></p>

		<pre><code>&lt;body&gt;
   &lt;div id="pgContainer"&gt;
	&lt;div id="pgHead"&gt; &lt;% region('./head'); %&gt; &lt;/div&gt;
	&lt;div id="pgLeft"&gt; &lt;% region('./left'); %&gt; &lt;/div&gt;
	&lt;div id="pgContent"&gt; &lt;% block(); %&gt; &lt;/div&gt;
	&lt;div id="pgFooter"&gt; &lt;/div&gt;
   &lt;/div&gt;			    
&lt;/body&gt;
		</code></pre>

		<p><%= ph.section7 %></p>

		<p><%= ph.section8 %></p>

		<p><%= ph.section9 %></p>

		<pre><code>&lt;% region('./head'); %&gt;</code></pre>

		<p><%= ph.section10 %></p>

		<pre><code>&lt;% block(); %&gt;</code></pre>

		<p><%= ph.section11 %></p>


		<p class="subtitle"><h3><%= ph.subtitle4 %></h3></p>

		<p><%= ph.section12 %></p>
		
		<p><%= ph.section13 %></p>

		<p><%= ph.section14 %></p>

		<pre><code>http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css
/shared/js/lib/jquery-1.10.2.min.js
http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js
/shared/js/wFront.js
		</code></pre>		

		<p><%= ph.section15 %></p>

		<pre><code>
ctrl.startup = function()  {
     // this function will be called when the block is loaded and rendered
     // you can take the chance to initialize the block.
};

ctrl.foo = function()  {
     // this is a customized function. You can make as many customized functions as you need.
};

// unlike node.js, exports is not needed here.
     	</code></pre>

		<p><%= ph.section16 %></p>

		<pre><code>&lt;a href="..." onclick="&lt;%=ctrl%&gt;.foo();"&gt;Hello There&lt;a&gt;</code></pre>
	
		<p><%= ph.section17 %></p>		

		<p>&nbsp;</p>

		<p class="subtitle"><h3><%= ph.subtitle5 %></h3></p>		
		<ul>
		    <li><a href="#"><%= ph.list1 %></a></li>
		    <li><a href="#"><%= ph.list2 %></a></li>
		</ul>

	</section>

	<div class="row_down">
		<div class="column">
			<a type="button" class="pull-left" href="#"><i class="icon-chevron-left"></i>&nbsp; PREV PAGE</a>
			<a type="button" class="pull-right" href="#">NEXT PAGE &nbsp;<i class="icon-chevron-right"></i></a>			
	    </div>    
	</div>		
</div>