/*-----------------list-----------*/
.matter{
  width: 840px;
  margin: 0px;
  padding: 0px;
  font-family: "微軟正黑體","Adobe 黑体 Std R", "Adobe 繁黑體 Std B",  Arial, sans-serif; 
}
.float{
  float: left;
}
.clear {
	clear: left;
}
img {
  border: 0;
}
/*分類*/
.typeside{
  padding: 0;
  margin: 1em 0; 
}
.type{
  width: 33%;
  text-indent: 1.5em;
  font-size: 2em;
  color: #333;
  font-family: "微軟正黑體","Adobe 黑体 Std R", "Adobe 繁黑體 Std B",  Arial, sans-serif; 
  font-weight: 900;
  line-height: 1.5em;
  padding: 20px 0 0;
  margin: 0;
  float: left;
  border-top: 5px solid #eee;
}
.type.active{
  border-color: #70C3A5;
  color: #4D4D4D;
}

/*文章清單*/
.row {
  width: 100%;
  margin: 0px;
  font-family: "微軟正黑體","Adobe 黑体 Std R", "Adobe 繁黑體 Std B",  Arial, sans-serif;
}
.callout{  
  padding: 12px 20px 5px;
  background: #F7F7F7;
  margin: 5px 0;
  border-left: 5px solid #E4E4E4;
  border-radius: 3px;
}
.callout a{
   color: #666;
   cursor: pointer;
}
.callout a:hover{
    color: #70C3A5;
    text-decoration: none;
}
.callout a small{
    font-size: 0.7em;
    line-height: 2em;
    color: #bbb;
    float: right;
    margin-right: 10px;
}
.callout p.summary{
    font-size: 1em;
    line-height: 1.5em;
    color: #666;
    text-indent: 20px;
    width: 90%;
    height: 30px;
    white-space : nowrap;  
    overflow: hidden;   
    text-overflow : ellipsis;
}

/*分頁按鈕*/
.chang{
  margin: 5px auto 0;
  padding: 0;
  text-align: center;
}
.chang > span {
  margin: 0 5px;
  padding: 5px;
}
.chang > span > a{
  font-size: 1.2em;
  color: #aaa;
}
.chang > span > a:hover,
.chang > span > a:focus {
  background: #eee;
  color: #aaa;
  text-decoration: none;
}
.chang > .active > a,
.chang > .active > a:hover,
.chang > .active > a:focus {
  z-index: 2;
  color: #aaa;
  cursor: default;
}
.chang > .disabled > a,
.chang > .disabled > a:hover,
.chang > .disabled > a:focus {
  color: #aaaaaa;
  cursor: not-allowed;
}
.chang > .now >a {
  font-size: 1.5em;
}