<div class="view">		
	<div class="typeside">文章清單</div>
		<div class="row">
			<a href="http://192.168.1.5:7070/page2/manage.html">					
			<div class="col">
				<div class="title">
					<div><i class="icon-book"></i></div>					
					<h4>COIMOTION phoneGap / Cordova Plugin技術文件</h4>
				</div>
				<p class="strTime">2014-06-03</p>
				<p class="summary">coimPlugin目前版本(0.9.2)提供phonegap 開發者一個與iOS/Android COIMOTION SDK的介接</p>				
			</div>
			</a>
			<a href="http://192.168.1.5:7070/page2/manage.html">
			<div class="col">
				<div class="title">
					<div><i class="icon-mobile-phone"></i></div>					
					<h4>Android Demo App技術文件</h4>
				</div>
				<p class="strTime"><small>2014-04-15</small></p>
				<p class="summary">本文以透過實作App的說明COIMOTION API與COIMOTION SDK的使用方式</p>
			</div>
			</a>
			<a href="http://192.168.1.5:7070/page2/manage.html">
			<div class="col">
				<div class="title">
					<div><i class="icon-apple"></i></div>
					<h4> iOS Demo App技術文件</h4>
				</div>
				<p class="strTime"><small>2014-04-14</small></p>
				<p class="summary">本文以透過實作App的說明COIMOTION API與COIMOTION SDK的使用方式</p>
			</div>
			</a>
			<a href="http://192.168.1.5:7070/page2/manage.html">
			<div class="col">	
				<div class="title">
					<div><i class="icon-android"></i></div>
					<h4> Androidcoim SDK文件</h4>
				</div>
				<p class="strTime"><small>2014-04-11</small></p>
				<p class="summary">本SDK目前版本(0.9)提供COIMOTION API的呼叫，開發者可透過SDK的使用簡化API的呼叫與處理，並提供登入/註冊的API</p>
			</div>
			</a>
			<a href="http://192.168.1.5:7070/page2/manage.html">
			<div class="col">
				<div class="title">
					<div><i class="icon-html5"></i></div>
					<h4> iOScoimSDK文件</h4>
				</div>
				<p class="strTime"><small>2014-04-11</small></p>
				<p class="summary">本SDK目前版本(0.9)提供COIMOTION API的呼叫，開發者可透過SDK的使用簡化API的呼叫與處理，並提供登入/註冊的API，簡化開發者的作業流程，省去處理token更新與發送步驟，不過開發者亦可透過一般的HTTP request方法使用COIMOTION API。</p>
			</div>
			</a>
			<a href="http://192.168.1.5:7070/page2/manage.html">
			<div class="col">
				<div class="title">
					<div><i class="icon-wrench"></i></div>
					<h4>COIMOTION 工具下載</h4>
				</div>
				<p class="strTime"><small>2014-06-23</small></p>
				<p class="summary">ver 0.9.5</p>
			</div>
			</a>					
		</div>				
		<div class="row_down">			
			<div class="chang">
				<span class="LR"><a href="#">&laquo;</a></span>
				<span><a href="#">1</a></span>
				<span><a href="#">2</a></span>
				<span><a href="#">3</a></span>
				<span><a href="#">4</a></span>
				<span><a href="#">5</a></span>
				<span class="disabled"><a href="#">...</a></span>
				<span class="LR"><a href="#">&raquo;</a></span>
			</div>       
		</div>       
</div>