<div class="matter">
	<div class="typeside">
		<div class="type active"><%= ph.list %></div>
		<!-- <div class="type">&nbsp;</div>
		<div class="type">&nbsp;</div> -->
	</div>
	<div class="clear"></div>

	<div class="row">
	<% for (var i in value.list) {
		var  item = value.list[i],
			 createTime = item.createTime,
			 idx = createTime.indexOf('T');
		createTime = createTime.substring(0, idx);
	%>
		<div class="callout">
			<a href="/blog2/view/<%=item.ngID%>?_loc=<%=bi.locale%>">
				<h4><%= item.title %>
				<small><%= createTime %></small></h4></a>
			<p class="summary"><%= item.summary %></p>
		</div>

	<% } %>

	</div>
	<div class="clear"></div>
	<div class="row_down">
		<div class="chang">
			<!-- <span class="LR"><a href="#">&laquo;</a></span>
			<span><a href="#">1</a></span>
			<span><a href="#">2</a></span>
			<span><a href="#">3</a></span>
			<span><a href="#">4</a></span>
			<span><a href="#">5</a></span>
			<span class="disabled"><a href="#">...</a></span>
			<span class="LR"><a href="#">&raquo;</a></span> -->
		</div>
	</div>
</div>
