/*-----------sidebar-------------*/
.sidebar{ 
  float: right; 
  width: 200px;
  padding: 0px;
  margin: auto 0 0 0px;
  font-family: "微軟正黑體","Adobe 黑体 Std R", "Adobe 繁黑體 Std B",  Arial, sans-serif;
  margin-top: 10px;
}
.panel-group .panel-green {  
  width: 100%;
  border: 1px #019877 solid;  
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.panel-group > .panel-green > .panel-heading { 
  text-indent: 1em;
  background: #019877;
  border: 1px #019877 solid;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px; 
  -ms-border-top-left-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px; 
  -o-border-top-left-radius: 5px;
  -o-border-top-right-radius: 5px; 
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 50px;
}
.panel-title:hover {
  text-decoration: none;
}
.panel-title{
  color: #FFF;
  text-decoration: none;
  line-height: 2px;
}

.panel-green > .panel-heading + .panel-collapse > .panel-body {
  border-top: none;  
  padding: 0;
}
.panel-body p {
  color: rgba( 1, 152, 119, 1);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba( 1, 152, 119, 0.5);
  padding: 15px 10px;
  margin: 0;
  line-height: 1.2em;
  width : 180px;
  overflow : hidden;
  text-overflow : ellipsis;
  white-space : nowrap;
}
.panel-body p span {
   display: block;
   font-size: 0.9em;
   line-height: 1.2em;
   text-align: right;
   margin-top: 10px;
}
.panel-body p.right {
  font-size: 0.9em;
  border-bottom: none;
  text-align: right;
}
.panel-body p.right a{
  opacity: 0.7;
}
.panel-body p a {
  color: #00765C;
  text-decoration: none;
}
.panel-body p a:hover {
  color: #019877;
}