<!-- sidebar -->
	<div class="sidebar">
	  <div class="panel-group" id="sidebar">

	    <div class="panel panel-green">
	      <div class="panel-heading">
	        <h4 class="panel-title">
	          <a data-toggle="collapse" data-parent="#sidebar" href="#menu1">
	            發表文章
	          </a>
	        </h4>
	      </div>
	      <div id="menu1" class="panel-collapse collapse in">
	        <div class="panel-body">
						<% for (var i in value.list) {
							var  item = value.list[i],
								createTime = item.createTime,
								idx = createTime.indexOf('T');
							createTime = createTime.substring(0, idx);
						%>
	          <p>
							<a href="/blog/view/<%=item.ngID%>"><%= item.title%></a>
	          	<span><%=createTime%></span>
						</p>
						<% } %>
          	<p class="right"> <a href="#">more&nbsp;<i class="icon-double-angle-right"></i></a> </p>
	        </div>
	      </div>
	    </div>

	  </div>
	</div>
