/* Add css rules here that are valid for the whole page */
#pgContainer {
	margin: 0 auto;
	width: 840px;
	padding: 0px;
}
#pgHead {
	padding: 0px;
	margin: 0px;
}
#pgContent {
	width: 840px;
	padding: 0px;
}
#pgFooter {
	width: 840px;
	padding: 0px;
}

body{
	padding: 0;
	margin: 0;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

/*-----------footer-----------*/
#pgFooter footer {
	width: 840px;
	height: 80px;
	font-size: 1em;
	background: #3a3a3a;
	text-align: center;
	color: #FFF;
	margin-top: 30px;
	padding-top: 30px;
	font-family: "微軟正黑體","Adobe 黑体 Std R", "Adobe 繁黑體 Std B",  Arial, sans-serif;
}
#pgFooter footer p{
	color: #fff;
}