/* Add css rules here that are valid for the whole page */
#pgHead {
	text-align: center;
	font-size: 18px;
}

#pgLeft {
	float: left;
	width: 240px;
}

#pgBody {
	float: left;
}

.clear {
	clear: both;
}


#pgContainer {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#pgContainer.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#pgContainer.toggled #sidebar-wrapper {
    width: 250px;
}

#pgBody {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#pgContainer.toggled #pgBody {
    position: absolute;
    left: 0px;
}

@media(min-width:768px) {
    #pgContainer {
        padding-left: 250px;
    }

    #pgContainer.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #pgContainer.toggled #sidebar-wrapper {
        width: 0;
    }

    #pgBody {
        padding: 20px;
        position: relative;
    }

    #pgContainer.toggled #pgBody {
        position: relative;
        margin-right: 0;
    }
}