.flexView {
	display: flex;
}

.flexImage {
	flex-grow: 1;
	text-align: center;
}

.wsPreview {
    width: 200px;
    padding: 2px;
    margin: 10px auto;
    cursor: pointer;
    border: 2px #aaa solid;
}

.badge-ok {
	position: absolute;
	padding: 5px;
	width: 28px;
	border-radius: 14px;
	background-color: rgba(220, 220, 255, 0.75);
}