<form>
    <div class="form-group">
        <label for="wsDomain" class="text-danger"><%=ph.domainLabel%></label>
        <input type="text" class="form-control" id="wsDomain" 
                value="<%=value.domain || ''%>" placeholder="<%=ph.domainHolder%>">
    </div>

    <div class="form-group manualMode">
        <label for="wsApp" class="text-danger"><%=ph.appLabel%></label>
        <input type="text" class="form-control" id="wsApp" 
               value="<%=value.caCode || ''%>" placeholder="<%=ph.appHolder%>"
               <%= value.domain  ?  'disabled' : ''%>>
    </div>

    <%
        // website created by 0.9.10 and earlier should not show this info
        if (!value.caCode || value.sitePath)  {
    %>
    <div class="form-group">
        <label for="wsPath"><%=ph.pathLabel%></label>
        <input type="text" class="form-control" id="wsPath" 
               value="<%=value.sitePath || ''%>" placeholder="<%=ph.pathHolder%>">
    </div>
    <% } %>

    <div class="form-group manualMode">
        <label for="wsTitle"><%=ph.titleLabel%></label>
        <input type="text" class="form-control" id="wsTitle" 
               value="<%=value.title || ''%>" placeholder="<%=ph.titleHolder%>">
    </div>
    
    <div class="form-group manualMode">
        <label for="wsLocale"><%=ph.localeLabel%></label>
        <input type="text" class="form-control" id="wsLocale" 
               value="<%=value.locale || ''%>" placeholder="<%=ph.localeHolder%>">
    </div>
    
    <div class="form-group manualMode">
        <label for="wsHome"><%=ph.homeLabel%></label>
        <input type="text" class="form-control" id="wsHome" 
               value="<%=value.home || ''%>" placeholder="<%=ph.homeHolder%>">
    </div>
</form>

<div class="flexContainer" style="margin-left: 0px;">
    <div style="flex-grow:1;">
    <%
        if (value.sitePath)  {
    %>
        <a class="btn btn-default" href="/website/export/<%=value.caCode%>" download="<%=value.caCode%>.zip">
            <%=ph.exportBtn%>
        </a>
    <% } else  {%>
        <div class="checkbox text-warning">
            <label>
                <input type="checkbox" onchange="<%=ctrl%>.importToggle(this);"> <%=ph.importLabel%>
            </label>
        </div>
    <% }%>
    </div>
    <div style="flex-basis: content">
    <%
    if (value.domain)  {
    %>
        <button type="button" class="btn btn-danger" onclick="<%=ctrl%>.delWebsite();"><%= ph.deleteBtn %></button>
        <button type="button" class="btn btn-primary" onclick="<%=ctrl%>.save();"><%= ph.saveBtn %></button>
    <% } else { %>
        <button type="button" class="btn btn-primary manualMode" 
                onclick="<%=ctrl%>.nextStep();">
            <%= ph.nextBtn %>
        </button>
        <span class="btn btn-primary btn-file importMode" style="display:none;">
            <%= ph.importBtn %>
            <input type="file" 
                   onclick="<%=ctrl%>.importCheck();"
                   onchange="<%=ctrl%>.importSite(this.files);">
        </span>
    <% } %>
    </div>
</div>