/*-------pgBanner-------*/
img {
  border: 0;
  width: 100%;
}
.banner{
  width: 100%;
  height: 269px;
  padding: 0;
  text-align: center;
  position: relative;
  top: 0px;
  left: center;
}
.bor{
	margin-top: 15px;
	border-top: 3px solid #2EA0D1;
	height: 3px;
}