<div class="pgHeader">
    <div id="HeadTitle">
  		<img class="img-rounded" src="/img/xs.png" style="height: 30px; margin-right: 20px;">[Design Console]
    </div>
    <div class="HeadItem">
        <button type="button" class="btn btn-default" onclick="<%=ctrl%>.newWebsite();">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <%=ph.createLabel%>
        </button>
    </div>
    <div class="HeadItem" style="margin-right:10px;">  
        <%
            var  langList = [
           			{
           				title: 'English',
           				arg: 'en'
           			},
           			{
           				title: '中文',
           				arg: 'zh'
           			}
           		 ];
        %>
        <%
            wcomp('langList', '/bs/dropdown', {
                btnID: 'langDropdown',
                btnLabel: ph.selectLabel + '[<b>' + bi.locale + '</b>]',
                list: langList,
                rightMenu: true
            });
        %>
    </div>
</div>

<!-- new website dialog -->
<%
    wcomp('wsCreateDialog', '/bs/modal', {
        cssID: 'createWSDialog',
        title: 'Create A Website',
        bodyURL: '/website/info',
        args: {}
    });
%>