<p>
    <%=ph.label%>:
    <select onchange="<%=ctrl%>.selectLang(this);">
        <option><%=ph.defaultOption%></option>
        <option value="en">English</option>
        <option value="zh">繁體中文</option>
    </select>
</p>

<div class="panel-group" id="rgLeftMenu">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#rgLeftMenu" href="#mmenu1">
          <%=ph.menuTitle1%>
        </a>
      </h4>
    </div>
    <div id="mmenu1" class="panel-collapse collapse in">
      <div class="panel-body">
        <p><%=ph.mc1_1%></p>
        <p><%=ph.mc1_2%></p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#rgLeftMenu" href="#mmenu2">
          <%=ph.menuTitle2%>
        </a>
      </h4>
    </div>
    <div id="mmenu2" class="panel-collapse collapse">
      <div class="panel-body">
          <p><%=ph.mc2_1%></p>
          <p><%=ph.mc2_2%></p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#rgLeftMenu" href="#mmenu3">
          <%=ph.menuTitle3%>
        </a>
      </h4>
    </div>
    <div id="mmenu3" class="panel-collapse collapse">
      <div class="panel-body">
        <p><%=ph.mc3_1%></p>
        <p><%=ph.mc3_2%></p>
      </div>
    </div>
  </div>

  <!--
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#rgLeftMenu" href="#mmenu4">
          <%=ph.menuTitle4%>
        </a>
      </h4>
    </div>
    <div id="mmenu4" class="panel-collapse collapse">
      <div class="panel-body">
        <p><%=ph.mc4_1%></p>
        <p><%=ph.mc4_2%></p>
        <p><%=ph.mc4_3%></p>
      </div>
    </div>
  </div>
  -->

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a href="./sass/view?_loc=<%=bi.locale%>">
          <%=ph.menuTitle5%>
        </a>
      </h4>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#rgLeftMenu" href="#mmenu6">
          <%=ph.menuTitle6%>
        </a>
      </h4>
    </div>
    <div id="mmenu6" class="panel-collapse collapse">
      <div class="panel-body">
        <a href="/blog/list?_loc=<%=bi.locale%>"><p><%=ph.mc6_1%></p></a>
        <a href="/blog2/list?_loc=<%=bi.locale%>"><p><%=ph.mc6_2%></p></a>
      </div>
    </div>
  </div>
</div>
