<table class="table">
    <tr>
        <th><%=ph.path%></th>
        <td><%= value.url %></td>
    </tr>
    <tr>
        <th><%=ph.id%></th>
        <td><%= value.id %></td>
    </tr>
    <tr>
        <th><%=ph.api%></th>
        <td><%= value.service || '' %></td>
    </tr>
    <tr>
        <th><%=ph.protected%></th>
        <td><%= value.isProtected  ?  'Yes' : 'Not specified' %></td>
    </tr>
</table>

<hr >
<h5><%=ph.parameters%></h5>

<table class="table">
    <tr>
        <th><%=ph.name%></th>
        <th><%=ph.type%></th>
        <th><%=ph.required%></th>
    </tr>
    <%
    for (var k in value.query)  {
       var  varItem = value.query[k];
    %>
    <tr>
        <td><%= k %></td>
        <td><%= varItem.type %></td>
        <td><%= varItem.required ? '<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>' : ''%></td>
    </tr>
    <% } %>
</table>