<%
if (bi.query.layout)  {
%>
<div style="padding-left: 20px; width: 450px;">
	<h4>[<span id="layoutName"><%=bi.query.layout%></span>] URL / Layout mapping:</h4>

	<ul id="mapList" class="list-group"></ul>

	<form class="form-inline">
		<div class="form-group" style="width: 370px;">
			<div class="input-group">
				<div class="input-group-addon">URL:</div>
				<input type="text" class="form-control mappedURL" placeholder="<%=ph.urlHolder%>">
			</div>
		</div>
		<button type="submit" class="btn btn-primary" onclick="<%=ctrl%>.addMap(this);"><%=ph.add%></button>
	</form>

	<hr>
	<div>
		<%=ph.removeText%>
		<button type="button" class="btn btn-danger" onclick="<%=ctrl%>.removeLayout();"><%=ph.remove%></button>
	<div>
</div>
<%
}
else  {
%>
<form style="padding-top: 20px;">
	<div class="form-group">
		<label for="layoutName"><%=ph.layoutName%></label>
		<input id="layoutName" class="form-control" placeholder="<%=ph.layoutHolder%>">
	</div>
	<div style="text-align:right;">
		<button class="btn btn-primary" onclick="<%=ctrl%>.create();">
            <%=ph.create%>
        </button>
	</div>
</form>
<% } %>