<!DOCTYPE html>
<html>
    <head>
      	<title>coServ Demo</title>
      	<meta name="description" content="<%ctx.description%>" />
      	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      	<link rel="shortcut icon" href="../../wcoim/backstage/favicon.ico">
      	<% includeCss(); %>
      	<% includeJs(); %>

        <style type="text/css">
      	<% css(); %>
      	</style>
        <script type="text/javascript">
      	<!--
      	<% js(); %>
      	$(document).ready(function() {
          	$.ajaxSetup ({
            		// Disable caching of AJAX responses
            		cache: false
          	});
      	   __.initPage();
      	});
      	-->
        </script>
  </head>

  <body>
    	<div id="pgContainer">
      		<div id="pgHead"><% region('./head'); %></div>
      		<div id="pgContent"><% block(); %></div>
      		<div id="pgFooter"></div>
    	</div>
  </body>
</html>
