/*-----------footer-----------*/
footer {
	width: 840px;
	height: 80px;
	font-size: 1em;
	background: #3a3a3a;
	text-align: center;
	color: #FFF;
	margin-top: 30px;
	padding-top: 30px;
}
footer p{
	color: #fff;
}