.pgHeader {
	background-color: #e8f5e9;
	padding: 5px 0px;
	margin-bottom: 5px;
    display: flex;
}

#HeadTitle {
	flex-grow: 1;
	font-size: 18pt;
	padding-left: 20px;
}

.HeadItem {
	flex-basis: max-content;
}