<!DOCTYPE html>
<html>
    <head>
        <title><%=ctx.title%></title>
        <meta name="description" content="<%=ctx.description%>" />
        <% includeCss(); %>
        <% includeJs(); %>

        <style type="text/css">
          <% css(); %>
        </style>
        <script type="text/javascript">
        <!--
        <% js(); %>
        $(document).ready(function() {
            $.ajaxSetup ({
                // Disable caching of AJAX responses
                cache: false
            });
           __.initPage();
        });
        -->
        </script>
    </head>

  <body>
      <div id="pgContainer">
      	  <div id="pgContent"><% block(); %></div>
      	  <div id="pgFooter"></div>
      </div>
  </body>
</html>
