<a class="btn-large waves-effect waves-light blue btn-open" id="dropdown-button" data-beloworigin="true" href='javascript: void(0)' data-activates='menu-dropdown'>
	<i class="material-icons">toc</i>
</a>
<!-- Dropdown Structure -->
<ul id='menu-dropdown' class='dropdown-content'>
	<li>
		<a href="javascript: <%=ctrl%>.goToSection(0)" class="blue-text text-darken-2" >Index</a>
	</li>
	<li>
		<a href="javascript: <%=ctrl%>.goToSection(1)" class="blue-text text-darken-2" >Section1</a>
	</li>
	<li>
		<a href="javascript: <%=ctrl%>.goToSection(2)" class="blue-text text-darken-2" >Section2</a>
	</li>
	<li>
		<a href="javascript: <%=ctrl%>.goToSection(3)" class="blue-text text-darken-2" >Section3</a>
	</li>
</ul>
<h4>Single Style</h4>