.flexContainer {
	display: flex;
}

.pgBody {
	padding-top: 45px;
}

#pgLeft {
	flex-basis: 280px;
	padding-top: 5px;
	padding-left: 20px;
	background-color: #f8f8f8;
	border-right: solid 1px #e7e7e7;
}

#pgContent {
	flex-grow: 1;
	margin-left: 10px;
}

#pgFooter {
	background-color: #f8f8f8;
	border-top: solid 1px #e7e7e7;
	padding: 5px;
}
