<span id="openBtn"> ＝ </span>
<header>
  <nav>
    <div id="nav-menu">
      <ul>
        <li><a href="#" id="closeBtn"> X </a></li>
        <li><a href="/index">static</a></li>
        <li><a href="/page/hot">module</a></li>
        <li><a href="/page/multiL">multilingual</a></li>
      </ul>
    </div>
  </nav>
</header>

<script type="text/javascript" charset="utf-8">
  $('header').hide();
  $(document).ready(function() {
    $('#openBtn, #closeBtn').click(function() {
      $('header').toggle();
      $('#openBtn').toggle();
    })
  })
</script>
