#openBtn {
  position: fixed;
  font-size: 5em;
  border: 1px solid rgb(69, 69, 69);
}

header {
  display: block;
  position: fixed;
  font-size: 20px;
  left: 0;
  width: 200px;
  height: 100%;
  z-index: 99;
  background-color: #190C0C;
}

ol {
  list-style: none;
}
ul {
  list-style: none;
}

ul li{
  border-bottom: 1px solid rgb(69, 69, 69);
}

ul li:hover, #openBtn:hover {
  background-color: rgb(69, 69, 69);
  font-weight:300;
}

#nav-menu a{
  color: white;
  display: block;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
}
