.bg-teal {
    background-color: #46b5ac;
}

.navbar a {
    color: #fff;
}

.add-on > .btn {
	border-left-width:0;
	left:-2px;
	-webkit-box-shadow: inset 0 1px 1px rgba(70, 181, 172, 0.075);
	box-shadow: inset 0 1px 1px rgba(70, 181, 172, 0.075);
	height: 34px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
	box-shadow:none;
	-webkit-box-shadow:none; 
	border-color:#cccccc; 
}

.add-on .form-control {
	width: calc(100% - 40px);
}

.add-on > .glyphicon {
	top: 0px;
}

.navbar>.container-fluid .navbar-brand {
    margin-left: 0px; 
}

.navbar {
	border-radius: 0px;
}

.navbar-form .add-on {
	width: 100%;
}