/* Add css rules here that are valid for the whole page */
#pgContainer {
	width: 840px;
	margin: 0 auto;
	padding: 0;	
}
#pgContent {
	width: 840px;
	margin: 0;
	padding: 0;
}
#pgFooter {
	width: 840px;
	margin: 0;
	padding: 0;
}

body{
	padding: 0;
	margin: 0;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

/*footer*/
footer {
  width: 840px;
  height: 80px;
  font-size: 1em;
  text-align: center;
  color: #FFF;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 3px #2EA0D1 solid;
  font-family: "微軟正黑體","Adobe 黑体 Std R", "Adobe 繁黑體 Std B",  Arial, sans-serif;
}
footer p{
  color: #2EA0D1;
}