<div class="container">
  <% if (bi.isGuest)  { %>

  <form class="form-signin">
    <h2 class="form-signin-heading"><%=ph.signHeader%></h2>
    <input type="email" class="form-control" name="accName" placeholder="<%=ph.email%>" required autofocus>
    <input type="text" class="form-control regField" name="fname" placeholder="<%=ph.name%>">
    <input type="password" class="form-control" name="passwd" placeholder="<%=ph.passwd_tip%>" >
    <input type="password" class="form-control regField" name="passwd2" placeholder="<%=ph.passwd_repeat%>">
    <h4><%=ph.ftHeader%></h4>
    <input type="text" class="form-control" name="teamCode" placeholder="<%=ph.teamCode%>">
    <input type="text" class="form-control" name="caCode" placeholder="<%=ph.caCode%>">
    <div class="btn-group btn-group.btn-group-justified loginField">
      <button id="login" type="button" class="btn btn-lg btn-default" onclick="<%=ctrl%>.doLogin();"><%=ph.login%></button>
      <button type="button" class="btn btn-lg" onclick="<%=ctrl%>.switch('reg');"><%=ph.regist%></button>
    </div>

    <div class="btn-group btn-group.btn-group-justified regField">
      <button type="button" class="btn btn-lg" onclick="<%=ctrl%>.switch('login');"><%=ph.login%></button>
      <button id="reg" type="button" class="btn btn-lg btn-default" onclick="<%=ctrl%>.doRegister();"><%=ph.regist%></button>
    </div>
  </form>
  <div id="greeting" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="top:20%">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="jumbotron" style="margin-bottom:0">
          <p><%=ph.pgDesc1%></p>
          <p><%=ph.pgDesc2%></p>
          <button class="btn btn-primary btn-lg" onclick="<%=ctrl%>.closeMsg();"><%=ph.begin%></button>
        </div>
      </div>
    </div>
  </div>
  <div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="top:20%">
    <div class="modal-dialog modal-sm">
      <div id="loginEffect" class="modal-content">
          <%=ph.waitLogin%>
      </div>
    </div>
  </div>

  <div id="loadingModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="top:40%">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="progress progress-striped active" style="margin-bottom:0">
          <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%; font-size: 20px; line-hieght:20px">
            <%=ph.waitReg%>
          </div>
        </div>  
      </div>
    </div>
  </div>
  <% } %>
</div>
