<div id="taskBar">
	<button id="mainTask" type="button" class="btn btn-primary taskBtn" onclick="<%=ctrl%>.switchMainList();">
		<span class="glyphicon glyphicon-tasks activeBtn" aria-hidden="true"></span>
	</button>
	<br />
	<button id="blockTask" type="button" class="btn btn-default taskBtn" onclick="<%=ctrl%>.switchBlockInfo();">
		<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
	</button>
</div>

<div id="menuContainer">
	<div class="flexContainer">
		<div id="websiteDropdown" style="margin-bottom: 5px;">
			<% block('/mainMenu/website/list'); %>
		</div>
		<div id="wsConfigBtn" style="display:none;">
			<button class="btn btn-default btn-sm" onclick="<%=ctrl%>.webSettings();">
				<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
			</button>
		</div>
	</div>

	<div id="switchPane"></div>
</div>