<div id="menuContainer">
	<div class="flexContainer">
		<div id="websiteDropdown" style="margin-bottom: 5px;">
			<% block('/mainMenu/website/list'); %>
		</div>
		<div id="wsConfigBtn" style="display:none;">
			<button class="btn btn-default" onclick="<%=ctrl%>.webSettings();">
				<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
			</button>
		</div>
	</div>

	<div id="menuPane">
		<div class="panel-group" id="leftMainMenu" role="tablist" aria-multiselectable="true">
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="layoutHeading">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#leftMainMenu" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							<button class="btn btn-xs btn-default pull-right"
									onclick="<%=ctrl%>.newLayout();">
						   		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						   	</button>
							<%=ph.layouts%>
						</a>
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="layoutHeading">
					<div class="panel-body">
						<% block('mainMenuLayoutList', '/mainMenu/layout/list'); %>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="layoutHeading">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#leftMainMenu" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
							<button class="btn btn-xs btn-default pull-right"
									onclick="<%=ctrl%>.newBlock();">
						   		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						   	</button>
							<%=ph.blocks%>
						</a>
					</h4>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="layoutHeading">
					<div class="panel-body">
						<% block('mainMenuBlockList', '/mainMenu/block/list'); %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>