<header>
    <div class="row bg">
        <div class="headLeft">
        	<!-- 下拉式選單 -->
        	<div class='selectBox'>
			    <span class='selected'><a href="#">style</a></span>
			    <span class="selectArrow">
			  	  <i class="icon-chevron-down" style="margin-top:5px"></i>
			    </span>
			    <div class="selectOptions">
			  	   <span class="selectOption" value="style1"><a href="/blog/default">style 1</a></span>
			  	   <span class="selectOption" value="style2"><a href="/blog2/default">style 2</a></span>	  	   
			    </div>
			</div>
        </div>
        <div class="headRight">
        	<span class="home"><a href="/blog2/default"><i class="icon-home"></i>&nbsp;home</a></span>
        </div>
    </div>
    <div class="clear"></div>	   
</header>