<header>
    <div class="row bg">
        <div class="headLeft">
            <div class="dropdown select">
			   <button class="btn btn-default dropdown-toggle style" type="button" id="dropdownMenu1" data-toggle="dropdown">
			    <%= ph.original %>
			    <span class="caret"></span>
			   </button>
			   <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			   		<% var typePrefix = '/' + bi.uri.split('/')[1] + '/';
                     var uri = bi.uri.replace(typePrefix, '') + '?_loc=' + bi.locale;
                    %>
			       <li role="presentation"><a role="menuitem" tabindex="-1" href="/blog/<%=uri%>"><%= ph.original %></a></li>
			       <li role="presentation"><a role="menuitem" tabindex="-1" href="/blog2/<%=uri%>"><%= ph.lightBlue %></a></li>
			   </ul>
			</div>
        </div>
        <div class="headRight">
        	<span class="home"><a href="/index.html?_loc=<%=bi.locale%>"><i class="icon-home"></i>&nbsp;<%= ph.home %></a></span>
        </div>
    </div>
    <div class="clear"></div>
</header>
