/*---header---*/
header{
  width: 100% !important;
  margin: 0;
  padding: 0;
  font-family: "微軟正黑體","Adobe 黑体 Std R", "Adobe 繁黑體 Std B",  Arial, sans-serif;
}
.row {
  width: 100%;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.bg{
  height: 83px;
}
img {
  border: 0;
}
* a,
a:hover {
  text-decoration: none;
}
.clear {
  clear: left;
}
.float{
  float: left;
}
.headLeft {
  float: left;
  width: 580px;
  margin-left: 20px;
  margin-bottom: 5px;
}
.headRight {
  float: right;
  text-align: right;
  margin: 10px 20px 0 0;
  width: 180px;
}
.home {
  padding: 5px;
  margin: 10px 10px 0 20px;
  display: inline-block;
  text-align: right;
 }
 .home a{
  color: #2EA0D1;
  font-size: 1.0em;
 }
 .home a:hover {
  color:#4d4d4d;
  text-decoration: none;
 }
  .home a i{
  font-size: 1.2em;
 }

/*語系下拉選單*/
/*select {
  margin: 20px 0 0;
  font-family: "微軟正黑體","Adobe 黑体 Std R", "Adobe 繁黑體 Std B",  Arial, sans-serif;
  font-size: 0.9em;
  line-height: 1.5em;
  color:#3a3a3a;
  width:130px;
  height:28px;
  padding-left: 5px;
}*/
ul li {
  list-style-type: none;
}
.select {
  margin-top: 20px;
  /*display: inline-block;*/
  font-family: "微軟正黑體","Adobe 黑体 Std R", "Adobe 繁黑體 Std B",  Arial, sans-serif;  
}
.select ul li{
	margin-top: 0;
}
.select ul li a {
   outline: none;
}