<div class="foot-menu">
	<table class="table"> 
		<tbody> 
			<tr> 
				<td>
					<a href="/">Home</a>
				</td> 
				<td>
					<a href="javascript: <%=ctrl%>.reloadPage('/nav/about')">About</a>
				</td> 
				<td>
					<a href="javascript: <%=ctrl%>.reloadPage('/nav/news')">News</a>
				</td> 
				<td>
					<a href="javascript: <%=ctrl%>.reloadPage('/nav/product')">Product</a>
				</td> 
			</tr>
		</tbody> 
	</table>
</div>
<div class="foot-bottom">
	<a href="javascript: <%=ctrl%>.goToTop()" class="gotop-btn" >Back to top</a>
</div>