.foot-menu {
	height: auto;
	background-color: #111;
	padding: 10px;
}

.foot-bottom {
	height: 40px;
	background-color: #333;
	position: relative;
}

.foot-menu .table {
	width: 80%;
	margin: 0 auto;
}

.table>tbody>tr>td {
	text-align: center;
    vertical-align: middle;
    border-top: none;
}

.table>tbody>tr>td>a {
	color: #eee;
}

.gotop-btn {
	color: #fff;
	position: absolute;
	right: 10px;
	top: 10px;
}