<div class="box">
    <div class="con" onclick="<%=ctrl%>.prev();">
      <span><i class="icon-arrow-up"></i></span>
      <hr>
    </div>

    <input type="checkbox" id="checkbox" class="checkbox">
    <label for="checkbox"></label>

    <div class="menu">
        <ul>
          <a href="#feature"><li><%=ph.feature%></li></a>
          <a href="#about"><li><%=ph.about%></li></a>
          <a href="#usage"><li><%=ph.usage%></li></a>
          <a href="#workflow"><li><%=ph.workflow%></li></a>
          <a href="#extension"><li><%=ph.extension%></li></a>
        </ul>
    </div>

    <div class="con" onclick="<%=ctrl%>.next();">
      <hr>
      <span><i class="icon-arrow-down"></i></span>
    </div>
    <div class="con">
      <hr>
      <a href="/?_loc=<%=bi.locale%>"><span><i class="icon-home"></i></span></a>
    </div>

</div>
<div id="sass">
    <div id="feature" class="slides">
        <h1><%=ph.s1_h1%></h1>
        <h3><%=ph.s1_h3%></h3>
        <p><%=ph.s1_p%></p>
    </div>

    <div id="about" class="slides">
        <h1><%=ph.s2_h1%></h1>
        <h3><a href="http://sass-lang.com/guide"><%=ph.s2_h3%></a></h3>
        <img height="160" src="http://sass-lang.com/assets/img/illustrations/glasses-46692be4.svg">
        <p><%=ph.s2_p%></p>
    </div>

    <div id="power" class="slides">
        <h1><%=ph.s3_h1%></h1>
        <h3></h3>
        <img src="https://lh5.googleusercontent.com/-eUIED7ChJ4k/Tlt1Ap5H9FI/AAAAAAAACXA/tGHYiT-ayE4/css_sass_compass.jpg" alt="" />
    </div>

    <div id="usage" class="slides">
      <h1><%=ph.s4_h1%></h1>
      <h3></h3>
      <p class="desc">
          <%=ph.s4_h3%>
      </p>
      <!--
      <code class="desc">
        <ol>
          <li>blocks</li>
          <li>cont/shared/sass</li>
        </ol>
      </code>
      -->
    </div>

    <div id="partial" class="slides">
        <h1>blocks/views/[myBlock]</h1>
        <h3></h3>
        <code class="desc">
          <!--
          <%= ph.s5_comment%>
          -->
          <ul>
            <li>blocks</li>
            <ul>
              <li>views</li>
              <ul>
                <li>myBlock</li>
                <ul>
                  <li>myBlock.html</li>
                  <li>myBlock.css</li>
                  <li>myBlock.js</li>
                  <li>myBlock.lang  /* <%=ph.s5_comment%> */</li>
                  <li>myBlock.scss  /* Here! */</li>
                </ul>
              </ul>
            </ul>
          </ul>
        </code>
        <p class="desc"><%=ph.s5_p%></p>
    </div>

    <div id="shared" class="slides">
        <h1>cont/shared/sass</h1>
        <h3></h3>
        <p class="desc">
          <%=ph.s6_p1%>
        </p>
        <p class="desc"><%=ph.s6_p2%></p>
    </div>

    <div class="slides">
        <h1><%=ph.s7_h1%></h1>
        <h3><%=ph.s7_h3_1%></h3>
        <code class="desc">
          <ul>
            <li>/* myBlock.scss */</li>
            @import "example.scss"; /* <%=ph.s7_comment%> */
            <ul>
              <li>.</li>
              <li>.</li>
              <li>....[your scss code]</li>
            </ul>
          </ul>
        </code>
        <h3><%=ph.s7_h3_2%></h3>
        <code class="desc">
          <ul>
            <li>/* cont/shared/sass/example.scss */</li>
            <ul>
              <li>.</li>
              <li>.</li>
              <li>....[your mixin]</li>
            </ul>
          </ul>
        </code>


    </div>

    <div id="workflow" class="slides">
        <h1><%=ph.s8_h1%></h1>
        <h3><%=ph.s8_h3%></h3>
        <p class="desc">
          <%=ph.s8_p1%><br>
          <br>
          <%=ph.s8_p2%><br>
        </p>
    </div>

    <div class="slides">
        <h1><%=ph.s9_h1%></h1>
        <h3></h3>
        <p class="desc">
          <%=ph.s9_p1%>
        </p>
        <p class="desc">
          <%=ph.s9_p2%>
        </p>
    </div>

    <div id="extension" class="slides">
        <h1><%=ph.s10_h1%></h1>
        <p class="desc">
            <h3><%=ph.s10_h3%></h3>
            <h5>
              <a href="http://compass-style.org">Compass</a>
            </h5>
            <h5>
              <a href="<http://bourbon.io>">Bourbon</a>
            </h5>
            <h5><%=ph.s10_h5%></h5>
        </p>
    </div>

    <div id="bourbon" class="slides">
        <img src="http://blog.codepen.io/wp-content/uploads/2013/09/bourbon-logo.png" alt="bourbon" />
        <h3><%=ph.s11_h3%></h3>
        <code class="desc">
          <ol>
            <li>npm install node-bourbon --save</li>

            <li>find "drink bourbon", <%=ph.s11_comment1%></li>

            <li>/* myBlock.scss */</li>
            @import "bourbon"; /* <%=ph.s11_comment2%> */
            <ul>
              <li>....</li>
              <li>.</li>
              <li>.</li>
              <li>....[your scss code]</li>
            </ul>
          </ol>
        </code>
        <p class="desc"><%=ph.s11_p%></p>
    </div>
</div>
