<div class="box">
    <div class="con" onclick="<%=ctrl%>.prev();">
      <span><i class="icon-arrow-up"></i></span>
      <hr>
    </div>

    <input type="checkbox" id="checkbox" class="checkbox">
    <label for="checkbox"></label>

    <div class="menu">
        <ul>
          <a href="#feature"><li>新功能</li></a>
          <a href="#about"><li>關於SASS</li></a>
          <a href="#usage"><li>如何使用</li></a>
          <a href="#workflow"><li>如何運作</li></a>
          <a href="#extension"><li>自行擴充</li></a>
        </ul>
    </div>

    <div class="con" onclick="<%=ctrl%>.next();">
      <hr>
      <span><i class="icon-arrow-down"></i></span>
    </div>
    <div class="con">
      <hr>
      <a href="/"><span><i class="icon-home"></i></span></a>
    </div>

</div>
<div id="sass">
    <div id="feature" class="slides">
        <h1>coServ v0.8.8 新功能</h1>
        <h3>內建SASS</h3>
        <p>支援scss語法，不用自行編譯或下額外指令</p>
    </div>

    <div id="about" class="slides">
        <h1>關於SASS</h1>
        <h3><a href="http://sass-lang.com/guide">官方說明</a></h3>
        <img height="160" src="http://sass-lang.com/assets/img/illustrations/glasses-46692be4.svg">
        <p>簡單來說，讓CSS寫法更具彈性</p>
    </div>

    <div id="power" class="slides">
        <h1>就像這樣</h1>
        <h3></h3>
        <img src="https://lh5.googleusercontent.com/-eUIED7ChJ4k/Tlt1Ap5H9FI/AAAAAAAACXA/tGHYiT-ayE4/css_sass_compass.jpg" alt="" />
    </div>

    <div id="usage" class="slides">
      <h1>如何使用</h1>
      <h3>在coServ，SCSS依照用途放在不同路徑</h3>
      <code class="desc">
        <ol>
          <li>blocks</li>
          <!-- <li>./sass</li> -->
          <li>cont/shared/sass</li>
        </ol>
      </code>
    </div>

    <div id="partial" class="slides">
        <h1>blocks/views/[myBlock]</h1>
        <h3></h3>
        <code class="desc">
          網頁切板常以區塊區分，這也是coServ載入頁面的最小單位，而一個block 會有這些檔案
          <ul>
            <li>blocks</li>
            <ul>
              <li>views</li>
              <ul>
                <li>myBlock</li>
                <ul>
                  <li>myBlock.html</li>
                  <li>myBlock.css</li>
                  <li>myBlock.js</li>
                  <li>myBlock.lang  /* 多國語言設定檔 */</li>
                  <li>myBlock.scss  /* Here! */</li>
                </ul>
              </ul>
            </ul>
          </ul>
        </code>
        <p class="desc">當你希望scss只在某區塊生效，試試放在這</p>
    </div>

    <div id="shared" class="slides">
        <h1>cont/shared/sass</h1>
        <h3></h3>
        <p class="desc">
          希望讓myBlock.scss引用scss code，而不用重複放在各個Blocks？
        </p>
        <p class="desc">試試放這，適合整理mixin library或自定的mixin.scss</p>
    </div>

    <div class="slides">
        <h1>整理 code</h1>
        <h3></h3>
        <code class="desc">
          <ul>
            <li>/* cont/shared/sass/example.scss */</li>
            <ul>
              <li>.</li>
              <li>.</li>
              <li>....[your mixin]</li>
            </ul>
          </ul>
        </code>
        <code class="desc">
          <ul>
            <li>/* myBlock.scss */</li>
            @import "example.scss"; /* 載入自定mixin */
            <ul>
              <li>.</li>
              <li>.</li>
              <li>....[your scss code]</li>
            </ul>
          </ul>
        </code>
    </div>

    <div id="workflow" class="slides">
        <h1>如何運作</h1>
        <h3>載入順序</h3>
        <p class="desc">
          你可能會有疑問，有CSS又有SCSS，那coServ會怎麼處理呢？<br>
          <br>
          先載入Blocks內的.css，找不到才載入.scss<br>
        </p>
    </div>

    <div class="slides">
        <h1>會和css互衝？</h1>
        <h3></h3>
        <p class="desc">
          原生SASS編譯後，會產生.css檔
        </p>
        <p class="desc">
          但coServ直接幫你在網頁加上scss編譯完成的css code，不會產生.css檔。
        </p>
    </div>

    <div id="extension" class="slides">
        <h1>自行擴充</h1>
        <h3>Mixin Library 有</h3>
        <h5>
          <a href="http://compass-style.org">Compass</a>
        </h5>
        <h5>
          <a href="<http://bourbon.io>">Bourbon</a>
        </h5>
        <h5>...等選擇，選一套自己喜歡的</h5>
    </div>

    <div id="bourbon" class="slides">
        <img src="http://blog.codepen.io/wp-content/uploads/2013/09/bourbon-logo.png" alt="bourbon" />
        <h3>為例</h3>
        <code class="desc">
          <ol>
            <li>npm install node-bourbon --save</li>

            <li>find "drink bourbon", 移除註解</li>

            <li>/* myBlock.scss */</li>
            @import "bourbon"; /* 載入bourbon mixin*/
            <ul>
              <li>....</li>
              <li>.</li>
              <li>.</li>
              <li>....[your scss code]</li>
            </ul>
          </ol>
        </code>
        <p class="desc">這樣就能使用Bourbon的mixin了！</p>
    </div>
</div>
