/* import mixin: boxShadow */
@import "example.scss";

/* define mixin to reuse later */
@mixin vendorPrefix($prop, $value) {
    -webkit-#{$prop} : $value;
       -moz-#{$prop} : $value;
        -ms-#{$prop} : $value;
         -o-#{$prop} : $value;
            #{$prop} : $value;
}


ul li {
  list-style: none;
}

a:visited,
a:link {
  color: white;
  text-decoration: none;
}


#sass {
  margin-left: 4.5%;
  h1, h2 {
    color: #fff;
  }

  h3, h5, p, span, li {
    color: #ccc;
  }

  h1 {
    font-size: 5em;
    text-shadow:10px 5px 5px #333;
  }

  h3 {
    font-size: 3em;
  }

  h5, p, span {
    font-size: 2.5em;
  }

  code {
    font-size: 1.5em;
    background: #000;
  }

  .desc {
    display:block;
    width: 60%;
    padding-top: 1em;
    margin: 0 auto;
    white-space: normal;
    text-align: left;
  }

  a:hover {
    color: #9cc;
  }
}

.slides {
  width: 100%;
  height: 100%;
  min-height: 52em;
  background: #555;
  vertical-align: middle;
  text-align: center;
  padding-top: 5.5em;
  border: 1px solid white;
}

.con {
  text-align: center;
  i {
    font-size: 2em;
  }
}


/* menu */
.box {
  position: fixed;
  display: table;
  height: 100%;
  width: auto;
  padding: 0.5em;
  background: #333333;
  color: white;
  @include vendorPrefix(transform, translate3d(0, 0, 0));

  label {
    position: relative;
    width: auto;
    height: auto;
    display: table;
    cursor: pointer;
    @include boxShadow;
    @include vendorPrefix(transform-style, preserve-3d);

    appearance:icon;
    @include vendorPrefix(transition, all 0.8s);
    &::before {
      content: "M";
      color: #333333;
      background: white;
      display: table-cell;
      padding: 0.5em;
      cursor: pointer;
    }
  }
  .next, .prev {
    position: absolute;
    top: -9999em;
    left: -9999em;
  }
  .checkbox {
    position: absolute;
    top: -9999em;
    left: -9999em;
    &:checked {
      &~.menu {
        margin: {
          left: 0.5em;
          right: 1.5em;
        };
        ul {
          max-height: none;
          height:100%;
          @include vendorPrefix(transition, all 1s);

        }
      }
      &~label {
        margin-left: 100%;
        width: 10%;
        @include vendorPrefix(transform, rotateZ(90deg));

      }
    }
    &~.menu {
      margin: {
        top: -2em;
        left: -30em;
        right: 3em;
      };
      line-height: 1.5em;
      @include vendorPrefix(transform-style, preserve-3d);
      @include vendorPrefix(transition, all 1s);
      ul {
        max-height: 2em;
        height: 2em;
      }
    }
  }
}
