<div class="container">

  <form class="form-signup" role="form">
    <h2 class="form-signup-heading">Please sign up</h2>
    <input type="email" class="form-control" name="accName" placeholder="您的電子郵件" required autofocus>
    <input type="text" class="form-control" name="fname" placeholder="姓名" required>
    <input type="password" class="form-control" name="passwd" placeholder="設定密碼  ※請輸入6碼以上的英數字" required>
    <input type="password" class="form-control" name="passwd2" placeholder="確認密碼" required>
    <button class="btn btn-lg btn-primary btn-block regBtn" type="submit">Sign up</button>
  </form>

</div>