<div class="view">
		<div class="type">
			<h1 class="title"><%= value.title %></h1>
			<h2 class="tagline"><%= value.summary %></h2>
		</div>
		<div class="sub">
			<% var t = new Date(value.createTime),
						month = ('0'+(t.getMonth()+1)).slice(-2),
						date = ('0'+t.getDate()).slice(-2),
						year = t.getFullYear(),
					createTime = year +'-'+ month +'-'+ date;
			%>
			<span class="strTime"><%=createTime%>&nbsp;/&nbsp;</span>
			<span class="dspName">Author：<%= value.dspName %></span>
		</div>

		<section>
			<%= value.body %>
		</section>


</div>
<div class="clear"></div>
